html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, code-math,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Josefin Sans";
  font-size: 32px;
  line-height: 48px;
  color: #fff;
  height: 100%;
  background: #333;
  background: -webkit-radial-gradient(center, ellipse cover, #222 0%, #222 80%, #1a1a1a 100%);
  background: -khtml-radial-gradient(center, ellipse cover, #222 0%, #222 80%, #1a1a1a 100%);
  background: -moz-radial-gradient(center, ellipse cover, #222 0%, #222 80%, #1a1a1a 100%);
  background: -ms-radial-gradient(center, ellipse cover, #222 0%, #222 80%, #1a1a1a 100%);
  background: -o-radial-gradient(center, ellipse cover, #222 0%, #222 80%, #1a1a1a 100%);
  background: radial-gradient(center, ellipse cover, #222 0%, #222 80%, #1a1a1a 100%);
  background-attachment: fixed;
}

h1, h2, h3, h4 {
  font-family: "Actor";
  font-weight: normal;
  padding-bottom: 25px;
}

h1 {
  font-size: 96px;
  line-height: 128px;
}

h2 {
  font-size: 72px;
  line-height: 96px;
}

h3 {
  font-size: 64px;
  line-height: 72px;
}

h4 {
  font-size: 50px;
  line-height: 64px;
}

aside {
  font-size: 48px;
}

a {
  display: inline-block;
  padding: 6px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  color: #acd;
  background: rgba(0, 0, 0, 0.15);
  font-weight: bold;
  text-decoration: none;
  /*-webkit-transition: all 1s ease;*/
  /*-khtml-transition: all 1s ease;*/
  /*-moz-transition: all 1s ease;*/
  /*-ms-transition: all 1s ease;*/
  /*-o-transition: all 1s ease;*/
  /*transition: all 1s ease;*/
}

a:hover {
  background: rgba(0, 0, 0, 0.25);
}

.mosho-slide {
  width: 920px;
  padding: 20px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  text-align: center;
  -webkit-text-shadow: 0 0 16px #fff; /* shadows to simulate blur, why not? */
  -khtml-text-shadow: 0 0 16px #fff;
  -moz-text-shadow: 0 0 16px #fff;
  -ms-text-shadow: 0 0 16px #fff;
  -o-text-shadow: 0 0 16px #fff;
  text-shadow: 0 0 16px #fff;
  color: rgba(255, 255, 255, 0);
  opacity: 0.2;
  -webkit-transition: all 0.5s ease; /* ease into state changes */
  -khtml-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mosho-slide.mosho-active {
  -webkit-text-shadow: none;
  -khtml-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  color: rgba(255, 255, 255, 1);
  opacity: 1.0;
}

.code {
  margin: 0 auto;
  padding: 16px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  text-align: left;
  font-family: "Ubuntu Mono", monospace;
  font-size: 28px;
  background: rgba(0, 0, 0, 0.0);
}

table.code thead {
  background: rgba(66, 66, 66, 0.2);
  text-align: center;
}

table.code td {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  padding: 0px 5px;
  margin: 0px;
  border: 0px;
}

.mosho-active .code, .mosho-active .code-math {
  background: rgba(0, 0, 0, 0.3);
}

.fade-in, .fade-out, .fade-in-very-slow {
  opacity: 0.0;
}

small {
  font-size: 66%;
}

cite {
  font-style: italic;
}

ul {
  list-style: none;
}

strong, b {
  font-weight: bold;
}

.well-background {
  margin: 0 auto;
  padding: 16px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  text-align: left;
  background: rgba(0, 0, 0, 0.0);
}

.mosho-active .well-background {
  background: rgba(66, 66, 66, 0.3);
}

.auto-hide {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.00;
}

.mosho-active .auto-hide {
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
  opacity: 1.0;
}

.white-code {
  margin: 0 auto;
  padding: 16px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  text-align: left;
  font-family: "Ubuntu Mono", monospace;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -1pt;
  background: rgba(0, 0, 0, 0.0);
}

.mosho-active .white-code {
  background: rgba(230, 230, 230, 1.0);
}

.white-background {
  margin: 0 auto;
  padding: 16px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  text-align: left;
  background: rgba(0, 0, 0, 0.0);
}

.mosho-active .white-background {
  background: rgba(255, 255, 255, 1.0);
}

.code-math {
  margin: 0 auto;
  padding: 16px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  text-align: left;
  font-family: "Ubuntu Mono", monospace;
  font-size: 28px;
  background: rgba(0, 0, 0, 0.0);
  line-height: normal;
}

.legend {
  color: silver;
  font-family: "Ubuntu Mono", monospace;
  opacity: 0.66;
}

.burger-container {
  margin-left: 150px;
  position: relative;
  width: 630px;
  height: 520px;
}

.burger-container img {
  position: absolute;
}

.pos1 {

  left: 0px;
  top: 0px;
}

.pos2 {
  left: 210px;
  top: 0px;
}

.pos3 {
  left: 420px;
  top: 0px;
}

.pos4 {
  left: 0px;
  bottom: 0px;
}

.pos5 {
  left: 210px;
  bottom: 0px;
}

.pos6 {
  left: 420px;
  bottom: 0px;
}

.animated {
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Verdana, Arial, sans-serif /*{ffDefault}*/;
  font-size: 1.1em /*{fsDefault}*/;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana, Arial, sans-serif /*{ffDefault}*/;
  font-size: 1em;
}

.ui-widget-content {
  border: 1px solid #aaaaaa /*{borderColorContent}*/;
  background: #ffffff /*{bgColorContent}*/ url(../images/ui-bg_flat_75_ffffff_40x100.png) /*{bgImgUrlContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x /*{bgContentRepeat}*/;
  color: #222222 /*{fcContent}*/;
}

.ui-widget-content a {
  color: #222222 /*{fcContent}*/;
}

.ui-widget-header {
  border: 1px solid #aaaaaa /*{borderColorHeader}*/;
  background: #cccccc /*{bgColorHeader}*/ url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png) /*{bgImgUrlHeader}*/ 50% /*{bgHeaderXPos}*/ 50% /*{bgHeaderYPos}*/ repeat-x /*{bgHeaderRepeat}*/;
  color: #222222 /*{fcHeader}*/;
  font-weight: bold;
}

.ui-widget-header a {
  color: #222222 /*{fcHeader}*/;
}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3 /*{borderColorDefault}*/;
  background: #e6e6e6 /*{bgColorDefault}*/ url(../images/ui-bg_glass_75_e6e6e6_1x400.png) /*{bgImgUrlDefault}*/ 50% /*{bgDefaultXPos}*/ 50% /*{bgDefaultYPos}*/ repeat-x /*{bgDefaultRepeat}*/;
  font-weight: normal /*{fwDefault}*/;
  color: #555555 /*{fcDefault}*/;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555555 /*{fcDefault}*/;
  text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #999999 /*{borderColorHover}*/;
  background: #dadada /*{bgColorHover}*/ url(../images/ui-bg_glass_75_dadada_1x400.png) /*{bgImgUrlHover}*/ 50% /*{bgHoverXPos}*/ 50% /*{bgHoverYPos}*/ repeat-x /*{bgHoverRepeat}*/;
  font-weight: normal /*{fwDefault}*/;
  color: #212121 /*{fcHover}*/;
}

.ui-state-hover a, .ui-state-hover a:hover {
  color: #212121 /*{fcHover}*/;
  text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa /*{borderColorActive}*/;
  background: #ffffff /*{bgColorActive}*/ url(../images/ui-bg_glass_65_ffffff_1x400.png) /*{bgImgUrlActive}*/ 50% /*{bgActiveXPos}*/ 50% /*{bgActiveYPos}*/ repeat-x /*{bgActiveRepeat}*/;
  font-weight: normal /*{fwDefault}*/;
  color: #212121 /*{fcActive}*/;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121 /*{fcActive}*/;
  text-decoration: none;
}

.ui-widget :active {
  outline: none;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 8px;
  height: 8px;
  cursor: default;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -5px;
  background:  mediumseagreen !important;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

.mysliders {

  width: 200px;
  height: 10px;
}

.slider-menu {
  position: absolute;
  top: 35%;
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.3);
  padding-bottom: 25px;
  padding-right: 5px;
}

.slider-menu li {
  margin-left: 5px;
  margin-top: 20px;
}

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  -moz-border-radius-topleft: 4px /*{cornerRadius}*/;
  -webkit-border-top-left-radius: 4px /*{cornerRadius}*/;
  -khtml-border-top-left-radius: 4px /*{cornerRadius}*/;
  border-top-left-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  -moz-border-radius-topright: 4px /*{cornerRadius}*/;
  -webkit-border-top-right-radius: 4px /*{cornerRadius}*/;
  -khtml-border-top-right-radius: 4px /*{cornerRadius}*/;
  border-top-right-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  -moz-border-radius-bottomleft: 4px /*{cornerRadius}*/;
  -webkit-border-bottom-left-radius: 4px /*{cornerRadius}*/;
  -khtml-border-bottom-left-radius: 4px /*{cornerRadius}*/;
  border-bottom-left-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  -moz-border-radius-bottomright: 4px /*{cornerRadius}*/;
  -webkit-border-bottom-right-radius: 4px /*{cornerRadius}*/;
  -khtml-border-bottom-right-radius: 4px /*{cornerRadius}*/;
  border-bottom-right-radius: 4px /*{cornerRadius}*/;
}

#title .profile-links a {
  background: none !important;
}

#title .profile-links img {
  vertical-align: middle;
}